<%= form_for(@standard) do |f| %>
  <% if @standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standard.errors.count, "error") %> prohibited this standard from being saved:</h2>

      <ul>
      <% @standard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.label "Standard" %>*&nbsp;
  	<%= f.text_field :std, required: true %><br />
  </div>
  <!--<div class="field">
  	<%= f.label "Section" %>&nbsp;
  	<%= f.text_field :section %><br />
  </div>-->
  <div class="field">
  	<%= f.label "Subject Code" %>&nbsp;
  	<%= f.text_field :sub_code %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
